#root {
  margin: 0 auto;
  text-align: center;
  background-color: #7b818b;
  background-image: url('./components/images/background.jpg');
}

.github-link {
  font-size: 150%;
  color: black;
  font: bold;
}

.github-link:hover {
  color: rgb(173, 29, 29);
}

.resume {
  font-size: 150%;
  font-style: italic;
}

ul {
  list-style-type: none;
}

.project-link img {
  padding: 2px;

  &:hover {
    opacity: 0.7;
    background-color: red;
  }
}

.navbar-brand {
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  color: #ca0f0f;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.footer-link {
  font-weight: bold;
  font-size: 24px;
  color: #a50909;
  text-decoration: none;
}

#navbarNav {
  font-size: 150%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}